annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "4"
dnspython==2.7.0 ; python_version >= "3.11" and python_version < "4"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4"
pydantic-core==2.33.2 ; python_version >= "3.11" and python_version < "4"
pydantic-settings==2.10.1 ; python_version >= "3.11" and python_version < "4"
pydantic==2.11.7 ; python_version >= "3.11" and python_version < "4"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4"
pymongo==4.14.1 ; python_version >= "3.11" and python_version < "4"
python-dotenv==1.1.1 ; python_version >= "3.11" and python_version < "4"
redis==6.4.0 ; python_version >= "3.11" and python_version < "4"
rich==14.1.0 ; python_version >= "3.11" and python_version < "4"
str-or-none==0.1.0 ; python_version >= "3.11" and python_version < "4"
typing-extensions==4.14.1 ; python_version >= "3.11" and python_version < "4"
typing-inspection==0.4.1 ; python_version >= "3.11" and python_version < "4"
