async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
diskcache==5.6.3 ; python_version >= "3.11" and python_version < "4"
redis==5.2.1 ; python_version >= "3.11" and python_version < "4"
